.subheading {
  display: flex;
  position: relative;
  transform: translate(140%, -60px);
  align-content: center;
}

.subheading-container {
  margin-top: 5rem;
}

h2 {
  margin: auto;
}

.grid-container {
  padding-bottom: 8rem;
}

.carousel-caption {
  left: -30%;
  bottom: 40%;
}

/* .navbar .container {
  justify-content: space-between;
} */

.carousel-caption {
  left: -30%;
  bottom: 40%;
}
