.bg-dark {
  background-color: var(--nav-colour) !important;
}

.navbar-nav .nav-link {
  /* color: white !important; */
  color: var(--primary-colour) !important;
}

.navbar-nav .active {
  /* color: black; */
  text-decoration: underline;
}

.bg-light {
  background-color: var(--primary-colour) !important;
}

.nav {
  background-color: var(--background-colour) !important;
}

.navbar-nav .nav-link .active {
  color: var(--nav-colour) !important;
}

.nav-info-section {
  display: block;
}

.fa-user {
  margin-right: 2rem;
}
