@import "/css/_variables.css";
@import "/css/_nav.css";

.jumbotron {
  padding: 4rem 10rem;
  margin-bottom: 2rem;
  background-color: var(--bs-light);
  border-radius: 0.3rem;
}

.nav-info-section {
  display: block;
}

.subheading {
  display: flex;
  position: relative;
  transform: translate(140%, -60px);
  align-content: center;
}

h2 {
  margin: auto;
}

.grid-container {
  padding-bottom: 8rem;
}

.carousel-caption {
  left: -30%;
  bottom: 40%;
}

.navbar .container {
  justify-content: end;
}

.featured-products-container {
  text-align: center;
}
