/*   BUTTONS   */

.card-body {
  .add-to-cart-btn {
    max-width: 50% !important; //THIS DOESN'T WORK
  }
}

.search-btn {
  align-content: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  justify-content: center;

  input {
    width: 100%;
    border: 0;
  }
}

.blue-cta,
.pink-cta {
  font-family: sofia-pro-soft, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 0.3rem;
  border-radius: 6px;
  color: $primary-colour;
  &:hover {
    cursor: pointer;
  }
}

.pink-cta {
  background-color: $nav-colour;
  border: 2px solid $nav-colour;
  margin-top: 0.5rem;
  &:hover {
    background-color: $primary-colour;
    border: 2px solid $nav-colour;
    color: $nav-colour;
  }
}

.blue-cta {
  background-color: $primary-colour-hover;
  border: 2px solid $primary-colour-hover;
  &:hover {
    background-color: $primary-colour;
    border: 2px solid $primary-colour-hover;
    color: $primary-colour-hover;
  }
}

.edit-btn {
  margin-bottom: 3rem;
}

.check-out-btn {
  max-width: 540px;
  margin: auto;
  margin-top: 2rem;
}

/*   ADMIN LOGOUT   */

.logout {
  text-decoration: none;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
