h2 {
  font-family: montserrat, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.brand-box {
  margin-right: 0.1rem;
  margin-bottom: 1rem;
}

.brand-container {
  text-align: center !important;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 8rem 3rem 8rem;
  width: 100%;
  color: $background-dark;
  font-size: 1em;
  align-items: center;
}

.contact-us,
.contact-header {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  /* color: #fff; */
}

.contact-us > a {
  text-decoration: none;
  /* color: #fff; */
}

.follow-us,
.payment-options {
  display: flex;
  flex-direction: row;
  font-size: 2em;
}

.follow-us > i {
  margin-right: 20px;
}

.follow-us:hover {
  cursor: pointer;
}

h5 {
  font-size: 1em;
}

.card-custom {
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.go-to-product {
  all: unset;
}

.product-centered {
  margin: auto;
}

.btn {
  width: 100%;
}

/*  SHOPPING CART   */

.cart-container {
  h2 {
    padding-top: 3rem;
  }

  hr {
    margin-top: 1.5rem;
  }

  .total-price {
    justify-content: end;
  }

  .check-out-btn {
    max-width: 540px;
    margin: auto;
    margin-top: 2rem;
  }
}

.cart-background {
  margin-top: 1.5rem;
  background-color: $background-colour;
  padding: 1.8rem 1.8rem 0 1.8rem;
  border-radius: 0;
}

.card {
  border: none;
}

.card-body {
  padding-top: 0;
}

.img-fluid {
  height: 100%;
}

// .cart-product {
//   justify-content: baseline;
// }

#product-details {
  margin-top: 3rem;
}

/*   BUTTONS   */
.btn {
  background-color: $nav-colour;
  border: 2px solid $nav-colour;
  // color: $primary-colour;
  font-family: sofia-pro-soft, sans-serif;
  font-weight: 500;
  font-style: normal;
  &:hover {
    background-color: $primary-colour;
    border: 2px solid $nav-colour;
    color: $nav-colour;
  }
}

.search-btn {
  align-content: center;
}

button {
  border-width: 0;
  border-style: none;
  border-color: $primary-colour;
  background-color: $primary-colour;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  justify-content: center;

  input {
    width: 100%;
    border: 0;
  }
}

.dropdown-custom {
  margin-bottom: 1rem;
}

/*   MEDIA QUERIES   */

@media (max-width: 992px) {
  .footer {
    display: flex;
    align-content: center;
    align-self: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .follow {
    margin-top: 2rem;
  }
}

@media (max-width: 660px) {
  .payment {
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  .payment {
    margin-top: 2rem;
  }
}
