.hr-decoration {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.your-cart-msg {
  color: $nav-colour;
  padding-bottom: 1rem;
}

.card-body {
  p {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
  }
}

h2 {
  font-family: montserrat, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.edit-product-form {
  h2 {
    text-align: center;
  }
}

.add-product-form {
  h2 {
    text-align: center;
  }
}

.featured-checkbox {
  display: flex;
  flex-direction: row;

  #featured {
    width: 10%;
  }
}

.brand-box {
  font-family: sofia-pro-soft, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  padding: 1rem 0 1rem 0;
}

.brand-container {
  text-align: center !important;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 8rem 3rem 8rem;
  width: 100%;
  color: $background-dark;
  font-size: 1em;
  align-items: center;
}

.contact-us,
.contact-header {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.contact-us {
  a {
    text-decoration: none;
  }
}

.follow-us,
.payment-options {
  display: flex;
  flex-direction: row;
  font-size: 2em;
}

.follow-us {
  i {
    margin-right: 20px;
  }
}

.follow-us {
  &:hover {
    cursor: pointer;
  }
}

h5 {
  font-size: 1em;
}

.card-custom {
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.go-to-product {
  all: unset;
}

.product-centered {
  margin: auto;
}



/*  SHOPPING CART   */

.cart-container {
  h2 {
    margin-bottom: 0 !important;
  }

  hr {
    margin-top: 1.5rem;
  }

  .total-price {
    justify-content: end;
  }
}

.cart-background {
  margin-top: 1.5rem;
  background-color: $background-colour;
  padding: 1.8rem 1.8rem 0 1.8rem;
  border-radius: 0;
}

.card {
  border: none;
}

.cart-details {
  .card-body {
    padding-left: 0;
    padding-top: 0;

    h5 {
      width: 100%;
    }
  }

  input {
    width: 3.3rem;
    height: 2rem;
    margin-right: 2rem;
    padding-bottom: 0;
  }

  .card-title {
    padding-left: 0;
  }

  .col-md-3 {
    padding-left: 0;
  }

  .price-quantity {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 0;
    margin-top: 0.8rem;
  }
}

.img-fluid {
  height: 100%;
}

#cartNumber {
  font-family: sofia-pro-soft, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  color: $nav-colour;
  padding-left: 5px;
}

#product-details {
  margin-top: 3rem;
}

.deleteItem {
  cursor: pointer;
}

.dropdown-custom {
  margin-bottom: 1rem;
}

/*   MEDIA QUERIES   */

@media (max-width: 992px) {
  .footer {
    display: flex;
    align-content: center;
    align-self: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .follow {
    margin-top: 2rem;
  }
}

@media (max-width: 660px) {
  .payment {
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  .payment {
    margin-top: 2rem;
  }
}
