.form-container {
  margin: 0 auto;
}

label {
  display: block;
}

.edit-form {
  display: block;
}

#successUpdate {
  display: none;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

form > div {
  margin-bottom: 1.3rem;
}

form input,
textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 15px;
}

/*Messages styling*/

// .message {
//   width: 100%;
//   border: 1px solid $background-colour;
//   color: $background-colour;
// }

.message.error {
  color: $primary-colour;
  background: $nav-colour;
}

.message.warning {
  color: $nav-colour;
  border: none;
}

.message.success,
.message-add-success,
#successUpdate {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: $primary-colour !important;
  background-color: $primary-colour-hover;
  text-align: center;
  padding: 1rem;
  font-family: montserrat, sans-serif;
  font-weight: 500;
  font-style: normal;
  max-width: 400px;
}
.login-title {
  text-align: center;
  margin-top: 1.5rem;
}

/*ADMIN*/

#imageEdit {
  padding-top: 0.5rem !important;
}

.background-nav-admin {
  background-color: $primary-colour-hover;
}

.menu {
  justify-content: left !important;
  padding-bottom: 1rem;
  padding-top: 1rem;

  a {
    padding-right: 2rem;
    color: $primary-colour;
  }
}

.nav-login {
  justify-content: end;
}

.greeting {
  color: $primary-colour;
}
